.container {
  .ruleWrapper {
    margin-bottom: rem-calc(47);

    @include media('md') {
      margin-bottom: rem-calc(67);
      padding-right: rem-calc(50);
    }

    @include media('lg') {
      margin-bottom: rem-calc(87);
    }

    @include media('xl') {
      padding-right: rem-calc(100);
    }

    .number {
      font-weight: 900;

      @include media('md') {
        margin-right: rem-calc(18);
      }

      @include media('lg') {
        margin-right: rem-calc(22);
      }
    }

    .heading {
      margin-bottom: rem-calc(24);
      white-space: pre-wrap;
    }
  }
}
