@import 'styles/utils/rem-calc.scss';

.root {
  &.container {
    padding-top: rem-calc(58);
    padding-bottom: rem-calc(48);

    .textPrimary {
      margin-bottom: rem-calc(40);
    }

    .textSecondary {
      margin-bottom: rem-calc(96);
    }

    .translate {
      transform-origin: bottom left;
      transform: translateX(-10%);
    }

    .cardsContainer {
      width: 100%;
    }
  }
}
