@import 'styles/utils/rem-calc';
@import 'styles/mixins/breakpoints';

.root {
  &.container {
    padding-top: rem-calc(58);
    padding-bottom: rem-calc(48);

    .title {
      margin-bottom: rem-calc(40);
    }

    .subtitle {
      margin-bottom: rem-calc(96);
    }

    .cardsContainer {
      width: 100%;
    }
  }
}
