@import 'styles/settings/variables';
@import 'styles/utils/rem-calc';
@import 'styles/mixins/breakpoints';

.root {
  &.container {
    .sectionTitle {
      font-weight: bold;
      color: $muted;
    }

    .title {
      margin: rem-calc(20 0 40);
    }

    .subtitle {
      color: $muted;
      margin-bottom: rem-calc(96);
    }

    .imageWrapper {
      white-space: nowrap;
      margin-bottom: rem-calc(70);
      margin-bottom: 70px;

      @include media('lg') {
        margin-bottom: rem-calc(95);
        margin-bottom: 95px;
      }

      @include media('xl') {
        margin-bottom: rem-calc(175);
        margin-bottom: 175px;
      }

      .image {
        vertical-align: top;
        margin-right: rem-calc(40);
      }
    }
  }
}
