@import '~styles/mixins/flex';

.root {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 999;
  background: $white;
  color: $primary;
  display: none;

  /* Prevent flashing while the page is loading. */
  &.visible {
    display: block;
  }

  .container {
    width: 100%;
    max-width: $max-width;
    margin: 0 auto;
    padding: rem-calc(14 20);
    @include flex($wrap: wrap, $justify: space-between, $align: center);

    @include media(0, 'md') {
      justify-content: center;
    }
  }

  .text {
    font-size: rem-calc(14);

    @include media(0, 1200px) {
      margin-bottom: rem-calc(8);
    }
  }
}
