.root {
  &.container {
    position: relative;
    overflow: hidden;
    padding: rem-calc(35);
    width: rem-calc(360);

    @include media('1280px') {
      padding: rem-calc(50);
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(40%, -10%);
      background-repeat: no-repeat;
    }

    .logo {
      margin-bottom: rem-calc(40);
      max-width: rem-calc(97);
      height: rem-calc(19);

      @include media(0, 'md') {
        margin-bottom: rem-calc(54);
      }
    }

    .detailsText {
      color: $grey-700;
      margin-left: rem-calc(9);
    }

    &.dribbble::before {
      background-image: url('/icons/dribbble.svg');
      height: rem-calc(250);
      width: rem-calc(250);
      transform: translate(40%, -10%);

      @include media('lg') {
        transform: translate(40%, -35%);
      }

      @include media('1280px') {
        transform: translate(40%, -10%);
      }
    }

    &.deloitte {
      width: rem-calc(800);

      @include media(0, 'md') {
        height: rem-calc(460);
      }

      &::before {
        background-image: url('/images/deloitte-background.png');
        height: rem-calc(571);
        width: rem-calc(566);
        transform: translate(40%, -42%);

        @include media(0, '1280px') {
          transform: translate(50%, -42%);
        }

        @include media(0, 'md') {
          transform: translate(50%, 34%);
          background-size: 50%;
        }
      }

      .logo {
        max-width: rem-calc(161);
        height: rem-calc(30);
        margin-bottom: rem-calc(112);

        @include media(0, 'md') {
          margin-bottom: rem-calc(42);
        }
      }
    }

    &.behance {
      .detailsText {
        padding-top: rem-calc(3);
      }
    }

    .fastFifty {
      display: block;
    }

    .number {
      font-size: rem-calc(48);
      font-weight: bold;
      letter-spacing: rem-calc(-3);
      line-height: 1;
    }

    .followers {
      color: $grey-700;
      opacity: 0.7;
      line-height: rem-calc(24);
      margin-bottom: rem-calc(29);
    }
  }
}
