@import 'styles/mixins/flex';

$light-blue: #36a8e1;

.root {
  padding-top: calc(#{$navTopBarHeight} + 25px);
  margin-top: -($navTopBarHeight);
  background-color: $blue-500;

  @include media('md') {
    padding-bottom: rem-calc(100);
  }

  @include media('xl') {
    padding-top: calc(#{$navTopBarHeight} + 155px);
    background-size: 100vw 75vh;
  }

  .container {
    position: relative;
    @include flex($justify: space-between);

    @include media(0, 'md') {
      @include flex(column);
    }

    .imageWrapper {
      height: rem-calc(440);
      background-image: url('/images/summerCamp/hero-image-mb.png');
      background-repeat: no-repeat;
      background-size: 100%;
      margin: 0 rem-calc(-24);

      @include media(390px) {
        height: rem-calc(500);
      }

      @include media('sm') {
        position: absolute;
        background-image: none;
        right: rem-calc(10);
        height: rem-calc(300);
        max-width: 50%;
        width: 100%;
        min-width: rem-calc(300);
        margin: rem-calc(240) 0 0 0;
      }

      @include media(670px) {
        margin-top: rem-calc(190);
      }

      @include media('md') {
        right: rem-calc(30);
        max-width: 57%;
        min-width: rem-calc(335);
        margin-top: rem-calc(104);
      }

      @include media('lg') {
        right: rem-calc(60);
        max-width: 50%;
      }

      @include media('xl') {
        margin-top: rem-calc(84);
        right: rem-calc(120);
      }

      @include media(0, 350px) {
        min-width: rem-calc(300);
      }
    }
  }
}
