@import 'styles/mixins/flex';

$light-blue: #36a8e1;

.root {
  padding-top: calc(#{$navTopBarHeight} + 25px);
  padding-bottom: rem-calc(100);
  margin-top: -($navTopBarHeight);
  background-image: add-asset-prefix('/images/summerCamp/psc-background.png');
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-color: $white;

  @include media('xl') {
    padding-top: calc(#{$navTopBarHeight} + 155px);
    background-size: 100vw 75vh;
  }

  .container {
    @include flex($justify: space-between);

    @include media(0, 'md') {
      @include flex(column);
    }

    .imageWrapper {
      max-width: 40%;
      min-width: rem-calc(335);
      width: 100%;
      margin-top: rem-calc(50);

      @include media('sm', 'md') {
        display: none;
      }

      @include media(0, 'sm') {
        margin-top: 0;
      }

      @include media(0, 350px) {
        min-width: rem-calc(300);
      }
    }
  }
}
