.container {
  position: relative;
  margin-top: rem-calc(70);

  @include media(0, 'md') {
    display: flex;
    flex-direction: column;
  }

  @include media('md') {
    height: rem-calc(662);
  }

  @include media('lg') {
    margin-top: rem-calc(140);
    height: rem-calc(834);
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 4%;
    height: rem-calc(662);
    width: 100%;
    background-image: add-asset-prefix('/images/services/mobileDevelopment.png');
    background-repeat: no-repeat;
    background-size: contain;

    @include media(0, 'md') {
      position: relative;
      display: block;
      background-image: add-asset-prefix('/images/services/mobile_mb.png');
      background-position: center right;
      height: rem-calc(481);
    }

    @include media('md') {
      width: 50%;
    }

    @include media('lg') {
      height: rem-calc(800);
    }

    @include media('md', 1440px) {
      left: -5%;
    }
  }

  .root {
    &.content {
      width: 100%;

      .textWrapper {
        @include media('md') {
          max-width: rem-calc(360);
        }

        .title {
          margin-bottom: rem-calc(32);
          max-width: 100%;

          @include media('lg') {
            max-width: rem-calc(263);
            margin-bottom: rem-calc(42);
          }
        }

        .descripton {
          max-width: 90%;

          @include media('md') {
            max-width: rem-calc(440);
          }

          @include media('lg') {
            max-width: rem-calc(480);
          }
        }
      }

      .chipsWrapper {
        max-width: rem-calc(550);

        @include media('md', 'lg') {
          max-width: rem-calc(400);
        }
      }
    }
  }
}
