@import 'styles/mixins/flex';

.container {
  @include flex(column, $align: flex-start);

  background: #508cf4;
  max-width: rem-calc(324);
  min-width: rem-calc(263);
  height: rem-calc(556);
  border-radius: rem-calc(60);
  margin: rem-calc(0 15);

  @include media(0, 'md') {
    margin: rem-calc(0 20 0 0);
    max-width: initial;
    height: rem-calc(515);
  }

  @include media('md', 'lg') {
    height: rem-calc(436);
    margin: rem-calc(0 15 30 15);
  }

  @include media(1440px) {
    margin: rem-calc(0 30);
  }

  .image {
    padding-left: rem-calc(45);
    padding-top: rem-calc(62);

    @include media(0, 'lg') {
      padding-left: rem-calc(30);
      padding-top: rem-calc(46);
    }
  }

  .title {
    color: $white;
    margin-top: rem-calc(76);
    max-width: rem-calc(170);
    padding-left: rem-calc(45);
    font-weight: bold;

    @include media(0, 'lg') {
      margin-top: rem-calc(20);
      padding-left: rem-calc(30);
    }
  }

  .subtitle {
    color: $white;
    max-width: calc(100% - 25px);
    margin-top: rem-calc(25);
    padding-left: rem-calc(45);

    @include media(0, 'lg') {
      max-width: calc(100% - 45px);
      margin-top: rem-calc(12);
      padding-left: rem-calc(30);
    }
  }
}
