.root {
  &.container {
    margin-bottom: rem-calc(42);

    @include media(0, 'md') {
      padding-left: rem-calc(24);
      padding-right: rem-calc(24);
    }

    @include media('md') {
      margin-top: rem-calc(36);
      margin-bottom: rem-calc(58);
    }

    @include media('lg') {
      margin-top: rem-calc(70);
      margin-bottom: rem-calc(76);
    }

    .textWrapper {
      margin-bottom: rem-calc(55);

      @include media(0, 'sm') {
        width: 80%;
      }

      @include media('md', 'lg') {
        padding-right: rem-calc(24);
        margin-bottom: rem-calc(87);
      }

      @include media('lg') {
        margin-left: rem-calc(60);
        margin-bottom: rem-calc(150);
      }

      .sectionTitle {
        font-weight: bold;
      }
    }
  }
}
