.container {
  margin: rem-calc(50 0 100 0);
  padding-top: rem-calc(90);
  background-color: $primary;

  .wrapper {
    @include media('lg') {
      padding-left: rem-calc(20);
    }

    .label {
      font-weight: 500;
      text-transform: uppercase;
    }

    .title,
    .subtitle {
      color: $white;
    }

    .title {
      margin-top: rem-calc(16);
      max-width: rem-calc(600);
      margin-bottom: rem-calc(32);
    }

    .subtitle {
      max-width: rem-calc(450);
      margin-bottom: rem-calc(48);
    }

    .form {
      position: relative;
      bottom: rem-calc(-100);

      @include media(0, 'md') {
        margin: rem-calc(0 -24);
      }
    }
  }
}
