.container {
  margin: rem-calc(50 0 100 0);
  padding-top: rem-calc(90);
  padding-bottom: rem-calc(100);
  background-color: $primary;

  @include media(0, 'lg') {
    padding-bottom: 0;
  }

  .textWrapper {
    @include media('lg') {
      margin-left: rem-calc(60);
    }

    .label {
      font-weight: 500;
      text-transform: uppercase;
    }

    .title,
    .subtitle {
      color: $white;
    }

    .title {
      margin-top: rem-calc(16);
      max-width: rem-calc(600);
      margin-bottom: rem-calc(32);
    }

    .subtitle {
      max-width: rem-calc(450);
      margin-bottom: rem-calc(48);
    }
  }

  .form {
    position: relative;
    bottom: rem-calc(-200);

    @include media(0, 'sm') {
      margin: rem-calc(0 -16);
    }

    @include media('sm', 'md') {
      margin: rem-calc(0 -24);
    }

    @include media(0, 'lg') {
      bottom: rem-calc(-100);
    }
  }
}
