.root {
  &.container {
    width: rem-calc(300);
    height: rem-calc(450);
    border-radius: rem-calc(32);
    box-shadow: $box-shadow__paper;
    margin-bottom: rem-calc(32);
    padding-bottom: rem-calc(48);

    @include media(1400px) {
      flex-basis: 22.5%;
    }

    @include media(0, 1400px) {
      width: 48%;
      min-height: rem-calc(400);
    }

    @include media(0, 'lg') {
      min-height: rem-calc(280);
      margin-bottom: rem-calc(20);
    }

    @include media(0, 'md') {
      width: 100%;
      border-radius: rem-calc(20);
      box-shadow: 0 5px 13px 0 rgba(63, 62, 74, 0.04);
    }
    @include media(0, 'sm') {
      height: rem-calc(300);
    }

    .iconContainer {
      height: rem-calc(215);
      margin-bottom: rem-calc(48);
      overflow: hidden;
    }

    .iconWithBackground {
      &.design {
        margin-left: rem-calc(30);
      }
      &.left {
        margin-left: rem-calc(40);
      }

      &.right {
        margin-left: rem-calc(-42);
      }
    }

    .icon {
      margin-left: rem-calc(40);
      margin-top: rem-calc(40);
      margin-bottom: rem-calc(30);

      @include media(0, 'md') {
        margin-left: rem-calc(16);
        margin-top: rem-calc(20);
      }
    }

    .textContainer {
      padding: rem-calc(0 20 0 40);

      @include media(0, 'md') {
        padding: rem-calc(0 16);
      }

      .title {
        font-weight: bold;
        margin-bottom: rem-calc(16);
      }
      .subtitle {
        color: $muted;
      }
    }
  }
}
