.container {
  width: rem-calc(120);
  height: rem-calc(120);
  margin: rem-calc(-60 0 0 16);

  @include media('md') {
    width: rem-calc(160);
    height: rem-calc(160);
    margin: rem-calc(0 0 0 0);
  }

  @include media('xl') {
    margin: rem-calc(0 0 0 80);
  }

  .fingerprintWrapper {
    height: 100%;

    .fingerprint {
      width: rem-calc(92);
      height: rem-calc(92);
      margin: 0 auto;
    }
  }
}
