@import 'styles/mixins/flex';

.card {
  @include flex(column, $align: flex-start);

  background-color: white;
  border-radius: rem-calc(40px);
  box-shadow: 8px 22px 59px 0 rgba(0, 0, 0, 0.08);
  position: absolute;
  width: rem-calc(200px);
  height: rem-calc(210px);

  &.cardSpecial {
    width: rem-calc(300px);
    height: rem-calc(200px);
  }

  @include media(0, 'md') {
    width: rem-calc(151px);
    height: rem-calc(168px);

    &.cardSpecial {
      width: rem-calc(226px);
      height: rem-calc(160px);
    }

    .cardIcon {
      width: rem-calc(56px);
      height: rem-calc(56px);
    }
  }

  .image {
    padding: 2rem 0 1rem 2rem;
    @include media(0, 'md') {
      padding: 1.5rem 0 1rem 1.5rem;
    }
  }

  .text {
    padding-left: 2rem;
    @include media(0, 'md') {
      padding-left: 1.5rem;
      font-size: rem-calc(16px);
    }
  }

  &:first-of-type {
    .text {
      max-width: 1rem;
    }
  }

  // applied on elements when screen size is larger than 'lg' - 1024px

  &:nth-of-type(2) {
    top: rem-calc(220px);
    left: rem-calc(300px);
  }

  &:nth-of-type(3) {
    top: rem-calc(300px);
    left: rem-calc(-100px);
  }

  // applied when screen size is smaller than 'lg' - 1024px

  @include media('md', 'lg') {
    &:nth-of-type(1) {
      top: rem-calc(30px);
    }

    &:nth-of-type(2) {
      top: rem-calc(280px);
      left: rem-calc(170px);
    }

    &:nth-of-type(3) {
      top: rem-calc(340px);
      left: rem-calc(-100px);
    }
  }

  // applied when screen size is small-medium

  @include media('sm', 'md') {
    &:nth-of-type(1) {
      top: rem-calc(-140px);
      left: rem-calc(300px);
    }

    &:nth-of-type(2) {
      top: rem-calc(50px);
      left: rem-calc(400px);
    }

    &:nth-of-type(3) {
      top: rem-calc(80px);
      left: rem-calc(200px);
    }
  }

  // applied when screen size is small mobile

  @include media(0, 'sm') {
    &:nth-of-type(1) {
      top: rem-calc(-90px);
      left: 49%;
    }

    &:nth-of-type(2) {
      top: rem-calc(100px);
      left: 49%;
    }

    &:nth-of-type(3) {
      top: 0;
      left: -3%;
    }
  }
}
