.root {
  &.container {
    width: rem-calc(160);
    height: rem-calc(192);
    border-radius: rem-calc(10);
    margin-right: rem-calc(80);
    overflow: visible;

    &:last-of-type {
      margin-right: 0;
    }

    @include media(0, 'md') {
      height: auto;
      margin-bottom: rem-calc(40);
      margin-right: 0;
    }

    .image {
      max-height: rem-calc(128);
      height: 100%;
      border-radius: rem-calc(10 10 0 0);

      @include media(0, 'md') {
        max-height: unset;
      }
    }

    .content {
      position: relative;
      padding: rem-calc(16);

      .icon {
        position: absolute;
        right: rem-calc(-32);
        top: rem-calc(-32);

        @include media(0, 'lg') {
          right: rem-calc(-32);
        }
      }

      .title {
        font-weight: bold;
        font-size: rem-calc(14);
        margin: rem-calc(5 0 12 0);
        line-height: 0;
      }

      .role {
        font-size: rem-calc(14);
      }
    }
  }
}
