.root {
  &.container {
    max-width: 41%;
    border-radius: rem-calc(10);
    margin-bottom: rem-calc(40);
    overflow: visible;

    &:nth-child(4),
    &:nth-child(2) {
      position: absolute;
      right: rem-calc(25);
      top: 23%;
      margin-right: 0;
      transform: translateY(-23%);

      @include media('md') {
        position: relative;
        margin: rem-calc(0 40 40 40);
        transform: translateY(0);
        right: 0;
      }
    }

    &:nth-child(4) {
      top: 70%;
      transform: translateY(-70%);

      @include media('md') {
        transform: translateY(0);
      }
    }

    @include media('xs') {
      height: rem-calc(160);
    }

    @include media('sm') {
      height: auto;
      width: 40%;
      min-width: rem-calc(140);
      min-height: rem-calc(160);
    }

    @include media('md') {
      width: rem-calc(160);
      height: rem-calc(192);
      margin: rem-calc(0 40 40 40);
    }

    .image {
      max-height: rem-calc(106);
      height: 100%;
      border-radius: rem-calc(10 10 0 0);

      @include media('sm') {
        max-height: rem-calc(156);
      }

      @include media('md') {
        max-height: rem-calc(128);
      }
    }

    .content {
      position: relative;
      padding: rem-calc(10 4 8 6);

      @include media('xs') {
        height: rem-calc(58);
        padding: rem-calc(10 8);
      }

      @include media('md') {
        height: auto;
        padding: rem-calc(16);
      }

      .icon {
        position: absolute;
        right: rem-calc(-32);
        top: rem-calc(-32);

        @include media(0, 'md') {
          width: rem-calc(52);
          height: rem-calc(52);
          right: rem-calc(-25);
          top: rem-calc(-25);
        }
      }

      .title {
        font-size: rem-calc(12);
        font-weight: bold;
        line-height: 0;
        margin: rem-calc(5 0);

        @include media('xs') {
          font-size: rem-calc(14);
          margin: rem-calc(7 0);
        }

        @include media('md') {
          margin: rem-calc(5 0 12 0);
        }
      }

      .role {
        font-size: rem-calc(12);

        @include media('xs') {
          font-size: rem-calc(14);
        }
      }
    }
  }
}
