.container {
  position: relative;
  margin-top: rem-calc(100);

  @include media('md') {
    margin-top: rem-calc(430);
  }

  @include media('lg') {
    margin-top: rem-calc(570);
  }

  .backgroundWrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-color: $grey-100;

    @include media(0, 'md') {
      height: rem-calc(980);
    }
  }

  .sectionHeading {
    background-color: $black;

    p,
    span,
    h2 {
      color: $white;
    }

    span {
      @include media(0, 'lg') {
        display: none;
      }
    }
  }
}
