.container {
  position: relative;
  margin-top: rem-calc(70);

  @include media(0, 'md') {
    display: flex;
    flex-direction: column-reverse;
  }

  @include media('md') {
    height: rem-calc(634);
    margin-top: rem-calc(250);
  }

  @include media('lg') {
    height: rem-calc(834);
  }

  @include media('xl') {
    height: rem-calc(900);
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: rem-calc(657);
    width: 50%;
    background-image: add-asset-prefix('/images/services/design.png');
    background-repeat: no-repeat;
    background-size: contain;

    @include media(0, 'md') {
      width: 100%;
      position: relative;
      display: block;
      margin-top: rem-calc(50);
      height: rem-calc(450);
    }

    @include media('lg') {
      height: rem-calc(750);
    }
  }

  .root {
    &.content {
      width: 100%;

      .textWrapper {
        @include media('md') {
          padding-top: rem-calc(100);
          max-width: rem-calc(503);
        }

        .title {
          margin-bottom: rem-calc(32);
          max-width: 100%;

          @include media('lg') {
            max-width: rem-calc(263);
            margin-bottom: rem-calc(42);
          }
        }

        .descripton {
          max-width: 90%;

          @include media('md') {
            max-width: rem-calc(440);
          }

          @include media('lg') {
            max-width: rem-calc(480);
          }
        }
      }

      .chipsWrapper {
        max-width: rem-calc(600);

        @include media('md', 'lg') {
          max-width: rem-calc(503);
        }
      }
    }
  }
}
