@import 'styles/mixins/flex';

.root {
  .container {
    @include flex($justify: space-between);

    @include media(0, 'md') {
      @include flex(column);

      margin-bottom: rem-calc(405);
    }

    @include media(0, 380px) {
      margin-bottom: rem-calc(360);
    }

    @include media(0, 340px) {
      margin-bottom: rem-calc(300);
    }

    @include media(0, 320px) {
      margin-bottom: rem-calc(280);
    }

    .intro {
      max-width: rem-calc(712);
      margin-top: rem-calc(40);

      @include media('md', 'lg') {
        max-width: rem-calc(510);
        margin-bottom: rem-calc(117);
      }

      @include media(1300px) {
        margin-left: rem-calc(60);
        min-width: rem-calc(644);
        margin-bottom: rem-calc(178);
      }

      @include media(0, 'lg') {
        margin-top: 0;
        padding-top: rem-calc(50);
      }

      @include media(0, 'md') {
        max-width: 100%;
      }

      .button {
        margin-top: rem-calc(96);

        @include media(0, 'md') {
          margin-top: rem-calc(64);
        }
      }
    }

    .imageWrapper {
      min-width: rem-calc(335);
      width: 125%;

      @include media(1440px) {
        position: absolute;
        width: 45%;
        transform: translateX(810px);
      }

      @include media('lg') {
        margin-top: rem-calc(45);
      }

      @include media('lg', 1320px) {
        position: absolute;
        width: 50%;
        transform: translateX(600px);
      }

      @include media(1320px, 1440px) {
        position: absolute;
        width: 62%;
        transform: translateX(630px);
      }

      @include media('md', 'lg') {
        position: absolute;
        width: 75%;
        transform: translateX(390px);
      }

      @include media('sm', 'md') {
        display: none;
      }

      @include media(0, 'sm') {
        width: 135%;
        margin-top: 0;
        position: absolute;
        z-index: -1;
        top: rem-calc(247);
        transform: translateX(-98px);
      }

      @include media(0, 380px) {
        top: rem-calc(260);
        transform: translateX(-80px);
      }

      @include media(0, 320px) {
        top: rem-calc(280);
        transform: translateX(-70px);
      }
    }
  }
}
