@import 'styles/mixins/flex';

.root {
  .container {
    @include flex($justify: space-between);

    @include media(0, 'md') {
      @include flex(column);
    }

    .intro {
      max-width: rem-calc(712);
      margin-top: rem-calc(40);

      @include media('lg') {
        margin-left: rem-calc(60);
      }

      @include media(0, 'lg') {
        margin-top: 0;
        padding-top: rem-calc(50);
      }

      @include media(0, 'md') {
        max-width: 100%;
      }

      .button {
        margin-top: rem-calc(96);

        @include media(0, 'md') {
          margin-top: rem-calc(64);
        }
      }
    }

    .imageWrapper {
      min-width: rem-calc(335);
      width: 100%;
      margin-top: rem-calc(50);

      @include media('sm', 'md') {
        display: none;
      }

      @include media(0, 'sm') {
        margin-top: 0;
      }

      @include media(0, 350px) {
        min-width: rem-calc(300);
      }
    }
  }
}
