.root {
  &.container {
    padding-top: rem-calc(58);
    padding-bottom: rem-calc(151);

    @include media(0, 'sm') {
      background-color: $white;
      padding: 0;
    }

    @include media('sm', 'lg') {
      padding-bottom: rem-calc(110);
    }

    .textWrapper {
      @include media(0, 'md') {
        padding-left: 20px;
        padding-top: 65px;
      }

      @include media('lg') {
        margin-left: rem-calc(60);
      }

      @include media('lg', 1440px) {
        text-align: center;
      }

      .title {
        margin-bottom: rem-calc(40);

        @include media('md', 'lg') {
          margin-bottom: rem-calc(31);
        }

        @include media(0, 'md') {
          max-width: rem-calc(337);
          margin-bottom: rem-calc(33);
        }
      }
      .subtitle {
        margin-bottom: rem-calc(96);

        @include media(0, 'md') {
          margin-bottom: rem-calc(32);
        }

        @include media('md', 'lg') {
          margin-bottom: rem-calc(76);
        }
      }
    }

    .cardsContainer {
      width: 100%;

      @include media(0, 'lg') {
        justify-content: space-around;
      }
    }
  }
}
