.root {
  &.container {
    background-color: $grey-800;
    color: $white;
    padding: rem-calc(67 21);

    h2 {
      margin-bottom: rem-calc(69);
    }

    @include media('md') {
      padding: rem-calc(67 30 67 80);
      margin: 0 rem-calc(32);
    }

    @include media('lg') {
      padding: rem-calc(65 128 81 160);
      margin: 0;
    }

    .form {
      margin-top: rem-calc(50);

      .uploadButton {
        width: 100%;
        color: $grey-200;
        justify-content: left;
        font-weight: normal;
        box-sizing: border-box;
        height: rem-calc(59);
        border: 1px solid $grey-200;
        border-radius: rem-calc(20);
      }

      .selectedFileName {
        color: $grey-200;
      }

      .submitButton {
        margin-top: rem-calc(14);

        @include media('lg') {
          margin-top: rem-calc(25);
        }
      }
    }
  }
}
