@import 'styles/mixins/flex';
@import 'styles/settings/variables';

.card {
  @include flex(column, $align: flex-start);

  border-radius: rem-calc(30);
  box-shadow: $box-shadow__paper;

  &.mobile {
    background-color: #4078d4;
    width: rem-calc(155);
    height: rem-calc(155);
    margin-bottom: 13px;
    .cardIcon {
      fill: white;
    }
  }
  &.management {
    background-color: #dc6b42;
    width: rem-calc(220);
    height: rem-calc(220);
    margin-left: 77px;
    margin-bottom: 48px;
  }
  &.frontend {
    background-color: #18ba98;
    width: rem-calc(166);
    height: rem-calc(168);
    margin-left: 77px;
  }
  &.backend {
    background-color: #f4be44;
    width: rem-calc(200);
    height: rem-calc(200);
    margin-left: 77px;
    margin-bottom: 68px;
  }

  .image {
    padding-left: 27px;
    padding-top: 31px;
  }

  .text {
    color: #ffffff;
    padding-left: 27px;
  }
}
