@import 'styles/mixins/flex';

@mixin svgColor($fillColor, $lineColor) {
  circle {
    fill: $fillColor;
  }
  path,
  line,
  polyline,
  rect {
    stroke: $lineColor;
    fill: $fillColor;
  }
}
.card {
  @include flex(column, $align: flex-start);

  border-radius: rem-calc(30);
  box-shadow: $box-shadow__paper;

  .image {
    padding-left: rem-calc(27);
    padding-top: rem-calc(31);
  }

  .text {
    color: #fff;
    padding-left: rem-calc(27);
  }

  &.mobile {
    background-color: $blue-200;
    width: rem-calc(155);
    height: rem-calc(155);
    margin-bottom: rem-calc(13);

    .cardIcon {
      @include svgColor($white, $blue-200);
    }
    .text {
      padding-top: rem-calc(8);
    }
  }

  &.management {
    background-color: $green-300;
    width: rem-calc(220);
    height: rem-calc(220);
    margin-bottom: rem-calc(48);

    .cardIcon {
      @include svgColor($white, $green-300);
    }
    .text {
      padding-top: rem-calc(22);
    }
  }

  &.frontend {
    background-color: $yellow-300;
    width: rem-calc(166);
    height: rem-calc(168);
    .cardIcon {
      max-width: rem-calc(63);
      @include svgColor($white, $yellow-300);
    }
    .text {
      padding-top: rem-calc(12);
    }
  }

  &.backend {
    background-color: $orange-300;
    width: rem-calc(200);
    height: rem-calc(200);
    margin-bottom: rem-calc(68);
    .cardIcon {
      @include svgColor($white, $orange-300);
    }
    .text {
      padding-top: rem-calc(22);
    }
  }
}
