.root {
  &.container {
    margin-bottom: rem-calc(60);

    @include media('lg') {
      padding-left: rem-calc(40);
    }

    .content {
      width: 100%;
      display: grid;
      justify-content: space-between;
      max-width: rem-calc(1480);

      @include media(0, 'md') {
        flex-direction: column;
      }

      @include media('md', 1250px) {
        grid-template-columns: repeat(2, minmax(rem-calc(240), rem-calc(550)));
      }

      @include media(1250px) {
        grid-template-columns: repeat(3, minmax(rem-calc(240), rem-calc(550)));
      }

      .teaserWrapper {
        flex: 1;
        margin: rem-calc(20 20);
        padding: 0;

        @include media(0, 'md') {
          margin: rem-calc(10 0);
        }

        .teaser {
          @include media(0, 'md') {
            border-radius: 0;
          }

          .media {
            @include media(0, 'md') {
              border-radius: 0;
            }
          }
        }
      }
    }
  }
}
