@import 'styles/mixins/flex';
@import 'styles/mixins/ellipsis';

.container {
  position: relative;
  height: rem-calc(650);
  margin-top: rem-calc(160);
  margin-bottom: rem-calc(100);

  @include media(0, 'md') {
    margin-top: rem-calc(80);
    margin-bottom: rem-calc(170);
  }

  @include media('md', 'lg') {
    margin-top: rem-calc(100);
    margin-bottom: rem-calc(250);
  }

  .backgroundWrapper {
    position: absolute;
    top: rem-calc(400);
    left: 0;
    height: rem-calc(515);
    width: 100%;
    background-color: $grey-100;
    z-index: -1;

    @include media(0, 1424px) {
      top: rem-calc(400);
    }
  }

  .root {
    position: relative;
    height: rem-calc(650);
    @include flex(row);

    @include media(0, 'lg') {
      padding-left: rem-calc(20);
      padding-right: rem-calc(20);
      @include flex(column);
    }

    @include media(0, 'sm') {
      padding-left: rem-calc(10);
      padding-right: rem-calc(10);
    }

    @include media('lg') {
      padding-left: rem-calc(120);
    }

    .scrollBtnWrapper {
      padding-left: rem-calc(24);
      margin-top: rem-calc(30);

      @include media('lg') {
        margin-top: rem-calc(100);
        padding-left: rem-calc(0);
      }

      @include media(0, 'lg') {
        display: none;
      }

      .scrollBtn {
        box-shadow: $box-shadow__button;
        border-radius: 50%;
        width: rem-calc(60);
        height: rem-calc(60);
        margin-right: rem-calc(20);
        background-color: white;

        .icon {
          width: 2rem;
          height: 2rem;

          path {
            fill: $primary;
          }
        }
      }
    }

    .exploreMore {
      width: rem-calc(400);

      @include media(0, 'lg') {
        margin: 0;
        padding-right: rem-calc(0 16 0 0);
      }

      @include media('lg') {
        margin-top: rem-calc(40);
      }

      .text {
        width: rem-calc(280);
        padding-top: rem-calc(44);

        @include media('md') {
          width: rem-calc(340);
        }

        @include media('lg') {
          width: rem-calc(310);
        }
      }
    }

    .cardsWrapper {
      white-space: nowrap;

      @include media(0, 'lg') {
        margin-right: rem-calc(-20);
      }

      .innerCardsWrapper {
        overflow-x: scroll;
        scroll-behavior: smooth;
        padding: rem-calc(40 0 100 60);
        -ms-overflow-style: none;
        scrollbar-width: none;

        @include media('lg') {
          position: absolute;
        }

        &::-webkit-scrollbar {
          display: none;
        }

        @include media(0, 'lg') {
          padding: rem-calc(40 0 100 20);
          margin-left: rem-calc(-20);
        }

        @include media(0, 'sm') {
          padding-left: rem-calc(10);
          margin-left: rem-calc(-10);
          width: calc(100% + #{rem-calc(20)});
        }

        .teaser {
          width: rem-calc(400);
          height: rem-calc(513);
          white-space: normal;
          display: inline-block;
          margin-right: rem-calc(40);
          vertical-align: top;

          h4 {
            @include ml-ellipsis(2, 20, 1.2);
          }

          @include media('sm', 'md') {
            width: rem-calc(330);
            margin-right: rem-calc(24);
          }

          @include media(0, 'sm') {
            width: rem-calc(300);
            margin-right: rem-calc(32);
            margin-top: 0;
          }

          @include media(0, 'xs') {
            margin-right: rem-calc(24);
          }
        }
      }
    }
  }
}
