@import 'styles/globals/animations';
@import 'styles/settings/variables';
@import 'styles/mixins/breakpoints';
@import 'styles/utils/rem-calc';

.root {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1200;

  .container {
    transition: background-color $animation-duration__fast $timing-function;
    padding: rem-calc(14 20);
    z-index: 1500;
    position: relative;

    &.painted {
      background-color: $white;
    }

    .logo {
      margin-left: calc(#{rem-calc(64)} - #{rem-calc(12)});
      font-weight: bold;
      letter-spacing: rem-calc(-1.3);

      @include media(0, 'md') {
        margin-left: calc(#{rem-calc(48)} - #{rem-calc(12)});
      }

      @include media(0, 'sm') {
        margin-left: calc(#{rem-calc(24)} - #{rem-calc(12)});
      }
    }
  }
}

.drawer {
  .navigation {
    max-width: map-get($breakpoints, 'xl');
    width: 100%;
    margin: rem-calc(120 auto);

    @include media(0, 'md') {
      margin: rem-calc(120 auto 96 auto);
    }

    @include media(0, 'sm') {
      margin: rem-calc(96 auto 72 auto);
    }

    .links {
      margin-left: rem-calc(120);

      @include media(0, 'md') {
        margin-left: rem-calc(96);
      }

      @include media(0, 'sm') {
        margin-left: rem-calc(72);
      }
    }

    .link {
      margin: rem-calc(16 0);
      animation: fadeInFromTop 250ms $timing-function $animation-duration__normal 1 forwards;
      opacity: 0;
    }
  }
}
