.root {
  &.container {
    width: rem-calc(430);
    height: rem-calc(380);
    border-radius: rem-calc(32);
    margin-bottom: rem-calc(40);

    @include media(0, 800px) {
      width: calc(100% + #{rem-calc(48)});
      margin-left: rem-calc(-24);
      border-radius: 0;

      &:nth-child(even):not(:nth-child(2)) {
        margin-top: 0;
      }
    }

    @include media(801px, 'lg') {
      width: 100%;
    }

    &:first-child {
      margin-top: rem-calc(100);

      @include media(0, 800px) {
        margin-top: 0;
      }
    }

    &:nth-child(even):not(:nth-child(2)) {
      margin-top: rem-calc(-100);

      @include media(0, 800px) {
        margin-top: 0;
      }
    }

    .image {
      max-height: rem-calc(220);
      height: 100%;
    }

    .content {
      position: relative;
      padding: rem-calc(30 50 40 20);

      .icon {
        position: absolute;
        right: rem-calc(30);
        top: rem-calc(-35);

        @include media(0, 'lg') {
          right: rem-calc(20);
        }
      }

      .title {
        font-weight: bold;
        font-size: rem-calc(20);
      }
    }
  }
}
