@import 'styles/mixins/flex';

.container {
  width: 100%;
  height: rem-calc(60);
  background-color: $blue-500;

  .content {
    @include flex($align: center, $justify: center);

    height: rem-calc(60);

    .imageWrapper {
      max-height: rem-calc(57);
      margin-top: rem-calc(3);

      @include media(0, 'md') {
        display: none;
      }
    }

    .title {
      font-weight: 700;
      line-height: rem-calc(19);
      letter-spacing: rem-calc(-0.712722);
      color: $white;
      display: inline-block;
      margin-left: rem-calc(19);

      .label {
        display: inline-block;
        transform: rotate(3deg);
        background-color: $orange-300;
        padding: rem-calc(2 1.96 0.92 3.16);
        margin-left: rem-calc(4);
      }

      @include media(0, 'md') {
        margin-left: 0;
      }
    }

    .subtitle {
      font-size: rem-calc(15);
      line-height: rem-calc(24);
      margin-left: rem-calc(15.84);
      color: $white;

      @include media(0, 'md') {
        display: none;
      }
    }

    .buttonWrapper {
      margin-left: rem-calc(32);
      .button {
        font-size: rem-calc(12);
        line-height: rem-calc(14);
        border-radius: rem-calc(27);
        padding: rem-calc(8 14 8 14);
        background-color: $yellow-300;
        color: $white;
        height: rem-calc(32);
        width: rem-calc(109);
      }
    }
  }
}
