.root {
  &.container {
    margin-top: rem-calc(50);

    @include media('lg') {
      padding-top: rem-calc(90);
      padding-left: rem-calc(120);
    }

    .title {
      margin-top: rem-calc(16);
      max-width: rem-calc(640);
      margin-bottom: rem-calc(75);
    }

    .subtitle {
      font-weight: 700;
      margin-bottom: rem-calc(45);
      b {
        color: $grey-600;
      }
    }
  }
}
