@import 'styles/mixins/flex';

.root {
  &.container {
    @include flex(column);

    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
    margin-right: rem-calc(20);
    &:last-child {
      margin-right: 0;
    }
    @include media(0, 'md') {
      margin-right: 0;
      width: 48%;
    }
    @include media(0, 'sm') {
      margin-bottom: rem-calc(12);
      width: 100%;
    }

    .image {
      height: rem-calc(390);
      @include media(0, 'lg') {
        height: rem-calc(290);
      }
      @include media(0, 'md') {
        object-position: center 10%;
      }
    }

    .content {
      @include flex(column);

      flex: 1;
      padding-left: 0;

      .name {
        font-weight: bold;
        margin-bottom: rem-calc(4);
      }

      .socialIcons {
        flex: 1;
        align-items: flex-end;
        margin-top: rem-calc(16);
        @include media(0, 'sm') {
          margin-top: rem-calc(8);
        }
        a {
          margin-right: rem-calc(12);
          @include media(0, 'sm') {
            margin-right: rem-calc(8);
          }
        }
      }
    }
  }
}
