// multiline ellipsis (Chrome / Safari)
// sass-lint:disable no-duplicate-properties
@mixin ml-ellipsis($lines-to-show, $font-size, $line-height) {
  display: block;
  // Fallback for non-webkit
  display: -webkit-box;
  max-height: rem-calc($font-size * $line-height * $lines-to-show);
  // Fallback for non-webkit
  font-size: rem-calc($font-size);
  line-height: rem-calc($font-size * $line-height);
  -webkit-line-clamp: $lines-to-show;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
