.container {
  margin-top: rem-calc(133);

  @include media(0, 'md') {
    margin-top: rem-calc(75);
  }

  .paper {
    padding: rem-calc(55 20 65);
    margin: 0 auto;
    max-width: $max-grid-width;

    @include media(0, 'md') {
      padding: rem-calc(15 20 25);
    }

    .categoryWrapper {
      flex: 1;
      padding-bottom: rem-calc(20);

      @include media(0, 'md') {
        padding-top: rem-calc(40);
        padding-bottom: rem-calc(40);

        &:not(:last-child) {
          border-bottom: rem-calc(1) solid rgba(#979797, 0.2);
        }
      }

      @include media('md') {
        &:not(:last-child) {
          border-right: rem-calc(1) solid rgba(#979797, 0.2);
        }
      }
    }
  }

  .categoryCard {
    padding: rem-calc(40 0 35);

    @include media(0, 'sm') {
      padding: rem-calc(40 40 35);
    }

    @include media(0, 'md') {
      margin-bottom: 1.5rem;
    }

    @include media('md') {
      &:not(:last-child) {
        margin-right: 1.5rem;
      }
    }
  }
}
