.container {
  width: 50%;
  margin-bottom: rem-calc(45);
  &:last-of-type {
    margin-bottom: 0;
  }
  b {
    color: $primary;
  }
}

.icon {
  margin-bottom: rem-calc(13);
}

.text span {
  display: block;
  margin-top: rem-calc(20);
}
