.root {
  &.container {
    @include media('lg') {
      padding-left: rem-calc(120);
    }

    .sectionTitle {
      font-weight: bold;
      color: $muted;
    }

    .title {
      margin: rem-calc(20 0 40);
    }

    .subtitle {
      max-width: rem-calc(400);
      color: $muted;
      margin-bottom: rem-calc(96);

      @include media(0, 'sm') {
        max-width: rem-calc(315);
      }
    }

    .scrollBtn {
      box-shadow: $box-shadow__button;
      background-color: $white;
      border-radius: 50%;
      width: rem-calc(60);
      height: rem-calc(60);
      margin: rem-calc(0 20 50 0);

      .icon {
        width: 2rem;
        height: 2rem;

        path {
          fill: $primary;
        }
      }
    }

    .imageWrapper {
      white-space: nowrap;
      margin-bottom: rem-calc(70);
      height: 450px;

      .innerImageWrapper {
        position: absolute;
        overflow-x: auto;
        scroll-behavior: smooth;
        scroll-snap-type: inline mandatory;
        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
          display: none;
        }
      }

      @include media('lg') {
        margin-bottom: rem-calc(95);
      }

      @include media('xl') {
        margin-bottom: rem-calc(175);
      }

      .image {
        max-height: rem-calc(264);
        vertical-align: top;
        margin-right: rem-calc(40);
        scroll-snap-align: start;
        scroll-snap-stop: normal;

        &:first-child {
          max-height: rem-calc(300);
        }

        &:nth-child(2),
        &:nth-child(4) {
          max-height: rem-calc(450);
        }
      }
    }
  }
}
