.article {
  max-width: rem-calc(800);
  margin-left: auto;
  margin-right: auto;

  @include media(0, 'sm') {
    padding-left: rem-calc(20);
    padding-right: rem-calc(20);
  }

  .content {
    font-size: rem-calc(18);
    line-height: 1.625;
    margin-bottom: rem-calc(169);

    & > :first-child {
      color: $primary;
      font-size: rem-calc(28);
      letter-spacing: 0;
      line-height: rem-calc(41);
      margin-bottom: rem-calc(63);

      @include media(0, 'sm') {
        font-size: rem-calc(24);
        line-height: rem-calc(39);
      }
    }

    :not(:first-child) {
      max-width: rem-calc(608);
      margin-left: auto;
      margin-right: auto;
    }

    p,
    ul,
    ol,
    blockquote {
      margin-top: rem-calc(25);
      margin-bottom: rem-calc(25);
    }

    a {
      text-decoration: underline;
    }

    ul,
    ol {
      padding-left: rem-calc(16);
    }

    ul {
      list-style-type: none;
      padding-left: 0;

      li::before {
        content: '\2015';
        color: $secondary;
        padding-right: rem-calc(12);
      }
    }

    ol {
      list-style-type: decimal;

      li::marker {
        color: $secondary;
      }
    }

    ul > li > ul,
    ol > li > ol {
      margin-top: 0;
      margin-bottom: 0;
      margin-left: rem-calc(16);
    }

    ul > li,
    ol > li {
      padding-bottom: rem-calc(16);
      padding-left: rem-calc(30);
      text-indent: rem-calc(-30);

      &:last-child {
        padding-bottom: unset;
      }
    }

    ul > li > ul {
      list-style: circle;
    }

    h2 {
      font-size: rem-calc(30);
      margin-top: rem-calc(48);
      margin-bottom: rem-calc(16);
      line-height: 1.375;
    }

    h3 {
      color: $primary;
      font-size: rem-calc(24);
      font-weight: bold;
      letter-spacing: 0;
      line-height: rem-calc(28);
    }

    pre {
      white-space: pre;
      overflow-x: auto;
      padding: rem-calc(16);
      font-size: rem-calc(14);
      line-height: 1.2;
      border-width: 1px;
      border-color: #cbd5e0;
      background-color: #f7fafc;
    }

    code {
      font-size: rem-calc(14);
    }

    figcaption {
      text-align: center;
      font-size: rem-calc(14);
    }

    blockquote {
      border-left-width: rem-calc(4);
      border-color: #a0aec0;
      background-color: #edf2f7;
      font-style: italic;
      margin-left: 0;
      padding-top: rem-calc(16);
      padding-bottom: rem-calc(16);
      padding-left: rem-calc(24);
      padding-right: rem-calc(24);
    }

    blockquote p {
      margin-top: 0;
    }

    blockquote cite {
      font-style: normal;
    }

    audio {
      width: 100%;
    }

    @include media(0, 'sm') {
      margin-bottom: rem-calc(100);
    }
  }
}
