@import 'styles/settings/variables.scss';
@import 'styles/utils/rem-calc.scss';

.article {
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
}

.content {
  font-size: 1.125rem;
  line-height: 1.625;
  margin-bottom: rem-calc(169);

  :not(h4) {
    max-width: 38rem;
    margin: 0 auto;
  }

  p,
  h4,
  ul,
  ol,
  blockquote {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  a {
    text-decoration: underline;
  }

  ul,
  ol {
    padding-left: 1rem;
  }

  ul {
    list-style-type: disc;

    li::marker {
      color: $secondary;
    }
  }

  ol {
    list-style-type: decimal;

    li::marker {
      color: $secondary;
    }
  }

  ul > li > ul,
  ol > li > ol {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 1rem;
  }

  ul > li > ul {
    list-style: circle;
  }

  h2 {
    font-size: 1.875rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
    line-height: 1.375;
  }

  h3 {
    color: $primary;
    font-size: rem-calc(24);
    font-weight: bold;
    letter-spacing: 0;
    line-height: rem-calc(28);
  }

  h4 {
    color: $primary;
    font-size: rem-calc(28);
    letter-spacing: 0;
    line-height: rem-calc(41);
    margin-bottom: rem-calc(63);
  }

  pre {
    white-space: pre;
    overflow-x: auto;
    padding: 1rem;
    font-size: 0.875rem;
    line-height: 1.2;
    border-width: 1px;
    border-color: #cbd5e0;
    background-color: #f7fafc;
  }

  code {
    font-size: 0.875rem;
  }

  figcaption {
    text-align: center;
    font-size: 0.875rem;
  }

  blockquote {
    border-left-width: rem-calc(4);
    border-color: #a0aec0;
    background-color: #edf2f7;
    font-style: italic;
    margin-left: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  blockquote p {
    margin-top: 0;
  }

  blockquote cite {
    font-style: normal;
  }

  audio {
    width: 100%;
  }
}
