@import 'styles/mixins/flex';

.container {
  background: $blue-500;
  padding: rem-calc(60 0);

  .content {
    @include flex($align: center, $direction: column);

    .textWrapper {
      max-width: rem-calc(650);

      .title {
        max-width: 100%;
        color: $white;
        text-align: center;
        margin-bottom: rem-calc(42);
      }

      .descripton {
        text-align: center;
        color: $white;
        margin-bottom: rem-calc(78);
      }
    }

    .cardsWrapper {
      @include flex($align: flex-end, $justify: space-evenly);

      gap: rem-calc(60);

      @include media('xs', 'lg') {
        flex-direction: column;
        gap: rem-calc(20);
      }
    }
  }
}
