@font-face {
  font-family: 'Alliance';
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url('/fonts/AllianceNo1/Alliance No.1 Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Alliance';
  font-style: normal;
  font-weight: 500;
  font-display: auto;
  src: url('/fonts/AllianceNo1/Alliance No.1 Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Alliance';
  font-style: normal;
  font-weight: 600;
  font-display: auto;
  src: url('/fonts/AllianceNo1/Alliance No.1 Bold.otf') format('opentype');
}
