$primary: #212529;
$secondary: #1e8de1;

$white: #fff;
$black: #000;

$primary-font-family: alliance, -apple-system, blinkmacsystemfont, segoe ui, roboto, 'Open Sans', 'Helvetica Neue',
  helvetica, arial, sans-serif;
