.container {
  @include media('lg') {
    padding-left: rem-calc(60);
  }

  .intro {
    max-width: rem-calc(700);
    width: 100%;
    margin: rem-calc(104 0 94 0);
    padding: 0;

    @include media(0, 'lg') {
      margin: rem-calc(74 0 64 0);
    }

    @include media(0, 'md') {
      margin: rem-calc(34 0 54 0);
    }
  }

  .tabs {
    margin-left: rem-calc(-16);

    .tab {
      min-width: 0;
      padding: rem-calc(4 0);
      margin: rem-calc(0 18);
      color: $grey-600;

      &.selected {
        color: $text-primary;
      }
    }
  }

  .tabIndicator {
    bottom: rem-calc(6);
    height: rem-calc(3);
  }
}
