@import 'styles/utils/rem-calc.scss';
@import 'styles/mixins/breakpoints.scss';

.container {
  padding: rem-calc(95 2 61 2);

  @include media('lg') {
    padding: rem-calc(95 40);
  }

  .wrapper {
    display: flex;
    align-content: center;
    justify-content: space-between;
    flex-direction: column-reverse;
    max-width: map-get($breakpoints, 'xl');

    @include media('sm') {
      flex-direction: row;
    }

    .socialIcons {
      width: auto;

      @include media(0, 'md') {
        margin-bottom: rem-calc(44);
      }

      a {
        margin: rem-calc(0 22);

        @include media('lg') {
          margin: rem-calc(0 0 0 33);
        }

        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
}
