.container {
  max-width: rem-calc(700);
  margin-top: rem-calc(40);

  @include media('lg') {
    margin-top: rem-calc(80);
  }

  .chip {
    background-color: #f4f4f7;
    padding: rem-calc(20 10);
    margin-bottom: rem-calc(20);
    margin-right: rem-calc(20);
  }
}
