.container {
  @include media(0, 'lg') {
    padding: rem-calc(20 20 40);
  }

  .sectionTitle {
    font-weight: bold;
  }

  .title {
    margin-top: rem-calc(10);
    margin-bottom: rem-calc(32);
    white-space: pre-wrap;

    @include media('lg') {
      margin-top: rem-calc(15);
      margin-bottom: rem-calc(42);
    }
  }

  .description {
    @include media(0, 'md') {
      max-width: rem-calc(310);
    }
  }
}
