$footer-height: 214px;

.root {
  min-height: 100%;

  .container {
    height: calc(100vh - #{$nav-top-bar-height} - #{$footer-height});

    @include media(0, 'sm') {
      padding: rem-calc(0 20);
    }

    .item {
      max-width: 30rem;

      .ins {
        text-decoration: none;
        vertical-align: middle;
      }

      .button {
        margin-top: 2rem;
      }
    }
  }
}
