// Import top bar height
@use 'components/Navbar/navbar.module.scss' as nav;

@import 'styles/mixins/breakpoints';
@import 'styles/settings/variables';
@import 'styles/utils/rem-calc';

.container {
  @include media('md') {
    &::after {
      content: '';
      position: absolute;
      top: -(nav.$topBarHeight);
      right: 0;
      max-height: rem-calc(730);
      height: 100%;
      width: 65%;
      background-color: $gray-100;
      z-index: -1;
    }
  }
}
