@import 'components/Navbar/navbar.module.scss';

.container {
  @include media('md') {
    &::after {
      content: '';
      position: absolute;
      top: -($navBarHeight);
      right: 0;
      max-height: rem-calc(730);
      height: 100%;
      width: 65%;
      background-color: $grey-100;
      z-index: -1;
    }
  }
}
