.root {
  &.container {
    width: rem-calc(160);
    transform-origin: bottom right;
    transform: translateX(-100%) rotate(-90deg);
    opacity: 0.5;

    @include media(0, 'lg') {
      display: none;
    }

    .line {
      width: rem-calc(30);
      margin-right: rem-calc(8);
      border-top: rem-calc(2) solid $secondary;
    }

    .title {
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}
