@import 'styles/settings/variables.scss';
@import 'styles/utils/rem-calc.scss';
@import 'styles/mixins/breakpoints.scss';

.card {
  width: rem-calc(300);
  min-height: rem-calc(450);
  border-radius: rem-calc(32) !important;
  margin-bottom: rem-calc(32);
  padding-bottom: rem-calc(16);

  @media (max-width: 1359px) {
    width: 48%;
    min-height: rem-calc(400);
  }

  @media (max-width: 1023px) {
    min-height: rem-calc(280);
  }

  @media (max-width: 767px) {
    width: 100%;
    height: rem-calc(280);
    border-radius: rem-calc(16) !important;
  }

  .iconContainer {
    height: rem-calc(200);
    margin-bottom: rem-calc(48);
    overflow: hidden;
  }

  .iconWithBackground {
    &.left {
      margin-left: rem-calc(40);
    }

    &.right {
      margin-left: rem-calc(-40);
    }
  }

  .icon {
    margin-left: rem-calc(40);
    margin-top: rem-calc(40);
    margin-bottom: rem-calc(30);

    @media (max-width: 767px) {
      margin-left: rem-calc(16);
    }
  }

  .textContainer {
    padding: rem-calc(0 48);

    @media (max-width: 767px) {
      padding: rem-calc(0 16);
    }

    .title {
      font-weight: bold;
      font-size: rem-calc(20);
      color: black;
      margin-bottom: rem-calc(16);
    }

    .description {
      font-size: rem-calc(14);
    }
  }
}
