@import 'styles/mixins/ellipsis';
@import 'styles/mixins/flex';

.root {
  &.container {
    max-width: rem-calc(1320);
    width: 100%;
    border-radius: rem-calc(30);
    box-shadow: 0 2px 8px 0 rgba(63, 62, 74, 0.05), 0 12px 33px 0 rgba(63, 62, 74, 0.07);
    margin-bottom: rem-calc(20);

    .content {
      @include flex($justify: flex-start);

      padding: rem-calc(21 18 19 18);

      &:hover {
        @include media('md') {
          .button {
            opacity: 1;
          }
          .textWrapper {
            max-width: calc(100% - 290px);
          }
        }
      }

      @include media(0, 'md') {
        @include flex(column, $align: flex-start);

        padding-bottom: rem-calc(41);
      }

      .textWrapper {
        flex: 1;
        margin-right: rem-calc(10);
      }

      .focusHighlight {
        opacity: 0;
      }

      .icon {
        width: rem-calc(60);
        height: rem-calc(60);
        margin-right: rem-calc(22);
        flex: 0 0 auto;

        @include media(0, 'md') {
          margin-bottom: rem-calc(14);
        }
      }

      .subtitle {
        color: $muted;
        margin-top: rem-calc(5);

        @include media('md') {
          @include ml-ellipsis(2, 16, 1.5);
        }
      }

      .button {
        opacity: 0;
        flex: 0 0 auto;
        transition: opacity $animation-duration__normal $timing-function;

        @include media(0, 'md') {
          display: none;
        }
      }
    }
  }
}
