@import 'styles/mixins/flex';

@mixin svgColor($fillColor, $lineColor) {
  circle {
    fill: $fillColor;
  }
  path,
  line,
  polyline,
  rect {
    stroke: $lineColor;
    fill: $fillColor;
  }
}
.card {
  @include flex(column, $align: flex-start);

  @include media(0, 'md') {
    position: absolute;
  }

  border-radius: rem-calc(30);
  box-shadow: $box-shadow__paper;

  .image {
    padding-left: rem-calc(27);
    padding-top: rem-calc(31);
  }

  .text {
    color: $white;
    padding-left: rem-calc(27);
    font-size: rem-calc(22);
  }

  &.mobile {
    background-color: $blue-200;
    min-width: rem-calc(155);
    height: rem-calc(155);
    margin-bottom: rem-calc(13);

    .cardIcon {
      @include svgColor($white, $blue-200);
    }
    .image {
      padding-left: rem-calc(27);
      padding-top: rem-calc(22);
    }
    .text {
      padding-top: rem-calc(8);
    }

    @include media(0, 'md') {
      margin: rem-calc(0 16);
      padding: 0;
      align-self: flex-start;
      top: rem-calc(64);
    }
  }

  &.management {
    background-color: $green-300;
    min-width: rem-calc(220);
    height: rem-calc(220);
    margin-bottom: rem-calc(48);

    .cardIcon {
      @include svgColor($white, $green-300);
    }
    .image {
      padding-left: rem-calc(31);
      padding-top: rem-calc(29);
    }
    .text {
      padding-top: rem-calc(22);
      max-width: rem-calc(208);
    }

    @include media(0, 'md') {
      margin: rem-calc(0 4);
      padding: 0;
      top: rem-calc(200);
      z-index: 2;
    }
  }

  &.frontend {
    background-color: $yellow-300;
    min-width: rem-calc(166);
    height: rem-calc(168);
    .cardIcon {
      max-width: rem-calc(63);
      @include svgColor($white, $yellow-300);
    }
    .image {
      padding-left: rem-calc(21);
      padding-top: rem-calc(25);
    }
    .text {
      padding-top: rem-calc(12);
    }

    @include media(0, 'md') {
      margin: rem-calc(0 4);
      padding: 0;
      align-self: flex-start;
      top: rem-calc(376);
      z-index: 1;
    }
  }

  &.backend {
    background-color: $orange-300;
    min-width: rem-calc(200);
    height: rem-calc(200);
    margin-bottom: rem-calc(68);
    .cardIcon {
      @include svgColor($white, $orange-300);
    }
    .image {
      padding-left: rem-calc(32);
      padding-top: rem-calc(32);
    }
    .text {
      padding-top: rem-calc(22);
    }

    @include media(0, 'md') {
      margin: rem-calc(0 23);
      padding: 0;
      bottom: rem-calc(90);
      z-index: 0;
    }
  }
}
