.container {
  position: relative;
  padding-top: rem-calc(70);
  margin-top: rem-calc(180);
  overflow: hidden;

  @include media(0, 'md') {
    display: flex;
    flex-direction: column;
  }

  @include media('md') {
    height: rem-calc(734);
  }

  @include media(1200px) {
    height: rem-calc(834);
  }

  @include media(0, 'lg') {
    margin-top: rem-calc(100);
  }

  @include media('xl') {
    height: rem-calc(900);
  }

  &::before {
    content: '';
    position: relative;
    display: block;
    width: 100%;
    height: rem-calc(530);
    top: 0;
    right: 0;
    background-image: add-asset-prefix('/images/services/web_mb.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center right;
    margin-bottom: rem-calc(20);

    @include media('md') {
      position: absolute;
      width: 50%;
      background-image: add-asset-prefix('/images/summerCamp/about-psc.png');
      margin-bottom: 0;
      height: rem-calc(780);
    }

    @include media('md', 1440px) {
      right: -8%;
    }
  }

  .root {
    &.content {
      .textWrapper {
        @include media('md') {
          max-width: rem-calc(520);
          width: 40%;
        }

        @include media('lg') {
          margin-left: rem-calc(60);
        }

        @include media(1300px) {
          margin-top: rem-calc(70);
        }

        .title {
          margin-bottom: rem-calc(32);
          max-width: 100%;

          @include media('lg') {
            max-width: rem-calc(263);
            margin-bottom: rem-calc(42);
          }
        }

        .descripton {
          max-width: 90%;

          @include media('md') {
            max-width: rem-calc(440);
          }

          @include media('lg') {
            max-width: rem-calc(480);
          }
        }
      }

      .chipsWrapper {
        max-width: rem-calc(550);

        @include media('md', 'lg') {
          max-width: rem-calc(400);
        }

        @include media('md') {
          width: 40%;
        }

        @include media('lg') {
          margin-left: rem-calc(60);
        }
      }
    }
  }
}
