@import 'styles/mixins/flex';

.container {
  position: relative;
  overflow: hidden;
  background: $blue-500;
  @include media(0, 'md') {
    display: flex;
    flex-direction: column;
  }

  @include media('md') {
    height: rem-calc(734);
  }

  @include media(1200px) {
    height: rem-calc(900);
  }

  @include media(0, 'lg') {
    margin-top: 0;
  }

  @include media('xl') {
    height: rem-calc(900);
  }
  .cardsWrapper {
    @include flex($align: flex-end, $justify: space-evenly);

    gap: rem-calc(77);
  }
  .root {
    @include flex($align: center, $direction: column);

    &.content {
      .textWrapper {
        @include media('md') {
          max-width: rem-calc(650);
        }

        @include media(1300px) {
          margin-top: rem-calc(213);
        }

        .title {
          margin-bottom: rem-calc(32);
          max-width: 100%;
          color: $white;
          text-align: center;

          @include media('lg') {
            margin-bottom: rem-calc(42);
          }
        }

        .descripton {
          text-align: center;
          color: $white;

          @include media('lg') {
            margin-bottom: rem-calc(42);
          }
        }
      }

      .buttonWrapper {
        text-align: center;
        max-width: rem-calc(550);

        .button {
          color: $blue-600;
          background-color: $white;
          path,
          line,
          polyline,
          rect {
            stroke: $blue-600;
          }
        }
      }
    }
  }
}
