@import 'styles/mixins/flex';

$psc-orange: #dc6b42;
$psc-red: #be5934;

.container {
  position: relative;
  overflow: hidden;
  background: linear-gradient(180deg, rgba(220, 107, 66, 0) 0%, rgba(220, 107, 66, 0.08) 100%);
  @include media(0, 'md') {
    display: flex;
    flex-direction: column;
  }

  @include media('md') {
    height: rem-calc(734);
  }

  @include media(1200px) {
    height: rem-calc(834);
  }

  @include media(0, 'lg') {
    margin-top: 0;
  }

  @include media('xl') {
    height: rem-calc(900);
  }
  .cardsWrapper {
    @include flex($align: flex-end, $justify: space-evenly);
  }
  .root {
    @include flex($align: center, $direction: column);

    &.content {
      .textWrapper {
        @include media('md') {
          max-width: rem-calc(650);
        }

        @include media(1300px) {
          margin-top: rem-calc(70);
        }

        .title {
          margin-bottom: rem-calc(32);
          max-width: 100%;
          color: $psc-red;
          text-align: center;

          @include media('lg') {
            margin-bottom: rem-calc(42);
          }
        }

        .descripton {
          text-align: center;
          color: $psc-red;

          @include media('lg') {
            margin-bottom: rem-calc(42);
          }
        }
      }

      .buttonWrapper {
        text-align: center;
        max-width: rem-calc(550);

        .button {
          color: $psc-orange;
          background-color: #ffffff;
        }
      }
    }
  }
}
