.root {
  &.container {
    display: inline-block;
    vertical-align: top;
    box-shadow: none;
    width: rem-calc(560);
    margin-top: 0;
    margin-right: rem-calc(40);
    background-color: transparent;
    scroll-snap-align: start;
    scroll-snap-stop: normal;
    scroll-margin-left: rem-calc(20);

    @include media(0, 'sm') {
      width: calc(100% + #{rem-calc(64)});
      margin-left: rem-calc(-24);
      &:first-of-type {
        margin-top: rem-calc(15);
      }
    }

    @include media('sm') {
      &:last-of-type {
        margin-right: 5rem;
      }
    }

    @include media('lg') {
      width: rem-calc(600);
      &:last-of-type {
        margin-right: 10rem;
      }
    }

    .content {
      padding-left: rem-calc(24);
      padding-right: rem-calc(30);
      white-space: normal;
      @include media('md') {
        padding-left: rem-calc(50);
      }
      .title {
        font-weight: bold;
        padding-top: rem-calc(25);
        padding-bottom: rem-calc(20);
      }
    }
  }
}
