.root {
  &.container {
    display: inline-block;
    margin-right: rem-calc(32);
    white-space: normal;
    vertical-align: top;
    width: rem-calc(280);
    height: rem-calc(380);

    @include media('sm') {
      width: rem-calc(450);
      height: rem-calc(340);
    }

    @include media('md') {
      overflow: visible;
      width: rem-calc(640);
      height: rem-calc(400);
      margin-right: 6rem;
    }

    @include media('lg') {
      width: rem-calc(660);
    }

    .content {
      padding: rem-calc(30 0 0 30);

      @include media('sm') {
        padding: rem-calc(20 0 0 25);
      }

      @include media('md') {
        padding: rem-calc(40 0 0 80);
      }

      .textWrapper {
        max-width: 90%;

        @include media('md') {
          max-width: 85%;
        }

        .quotesIcon {
          @include media('md') {
            margin: 0 auto;
          }

          transform: rotate(180deg);
          height: rem-calc(50);
          width: rem-calc(50);

          path {
            fill: $purple-500;
          }
        }

        .quoteText {
          margin: rem-calc(30 0 30);
        }
      }

      .footer {
        width: 100%;

        .companyImg {
          width: rem-calc(40);
        }

        .authorNameAndTitleWrapper {
          margin: rem-calc(8 0 0 8);

          .authorName {
            font-weight: 700;
          }
        }
      }

      .authorImg {
        z-index: 1;
        margin-right: rem-calc(-60);
        width: rem-calc(120);
        height: rem-calc(120);
        border-radius: rem-calc(32);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
  }
}
