.root {
  &.container {
    display: inline-block;
    margin-left: rem-calc(32);
    white-space: normal;
    vertical-align: top;
    width: rem-calc(280);
    height: rem-calc(560);
    scroll-snap-align: start;
    scroll-snap-stop: normal;
    scroll-margin-left: rem-calc(20);

    @include media('sm') {
      width: rem-calc(450);
      height: rem-calc(430);
    }

    @include media('md') {
      overflow: visible;
      width: rem-calc(640);
      height: rem-calc(420);
      margin-left: rem-calc(96);
    }

    @include media(1130px) {
      width: rem-calc(690);
      margin-left: rem-calc(144);
      scroll-margin-left: rem-calc(80);
      height: rem-calc(420);
    }

    .content {
      padding: rem-calc(20 0 0 20);

      @include media('sm') {
        padding: rem-calc(20 0 0 25);
      }

      @include media('md') {
        padding: rem-calc(30 0 0 40);
      }

      .textWrapper {
        max-width: 95%;
        height: rem-calc(400);
        overflow: hidden;

        @include media('sm') {
          height: rem-calc(300);
        }

        @include media('md') {
          max-width: 90%;
          height: rem-calc(220);
        }

        .quotesIcon {
          height: rem-calc(40);
          width: rem-calc(40);
          transform: rotate(180deg);

          @include media('md') {
            margin: 0 auto;
            height: rem-calc(50);
            width: rem-calc(50);
          }

          path {
            fill: $purple-500;
          }
        }

        .quoteText {
          @include media('md') {
            margin-top: rem-calc(20);
          }
        }
      }

      .footer {
        width: 100%;
        margin-top: rem-calc(15);

        @include media(0, 'sm') {
          max-width: rem-calc(240);
        }

        .companyImg {
          max-width: rem-calc(50);
          max-height: rem-calc(50);
          border-radius: rem-calc(4);

          @include media('md') {
            max-width: rem-calc(75);
            max-height: rem-calc(75);
          }
        }

        .authorNameAndTitleWrapper {
          margin: rem-calc(0 0 0 12);
          max-width: rem-calc(350);

          .authorName {
            font-weight: 700;
          }
        }
      }

      .authorImg {
        z-index: 1;
        margin-right: rem-calc(-60);
        width: rem-calc(120);
        height: rem-calc(120);
        border-radius: rem-calc(32);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
  }
}
