@import '~styles/mixins/flex';

.container {
  padding: rem-calc(150 0 120 0);
  background-color: $blue-500;

  @include media(0, 'md') {
    padding: rem-calc(60 0);
  }

  .subtitle {
    color: $white;
    margin-bottom: rem-calc(32);

    @include media('md') {
      text-align: center;
    }
  }

  .focusPoints {
    overflow: hidden;

    .row {
      @keyframes loop {
        from {
          transform: translateX(0);
        }
        to {
          transform: translateX(-100%);
        }
      }

      animation: loop 45s linear 0s infinite normal none;
      display: flex;
    }

    .focusPoint {
      color: $blue-200;
      margin-top: rem-calc(48);
      user-select: none;

      @include media('lg') {
        white-space: nowrap;
        margin-right: rem-calc(46);
      }

      @include media('md') {
        text-align: center;
      }

      &:hover {
        @include media('md') {
          color: $white;
        }
      }
    }

    &.paused {
      .row {
        animation-play-state: paused;
      }
    }
  }
}

.focusPointTooltip {
  border-radius: $border-radius__lg;
  box-shadow: $box-shadow__paper;
  overflow: hidden;
  width: rem-calc(390);
  height: rem-calc(290);
  margin: rem-calc(0 46);

  .focusPointImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
