@import 'styles/mixins/flex';

.card {
  @include flex($align: center);

  gap: rem-calc(16);
  padding: rem-calc(10 24 10 10);
  max-width: rem-calc(500);
  width: 100%;
  color: $white;
  box-shadow: $box-shadow__paper;
  border-radius: rem-calc(30);

  @include media(0, 'md') {
    padding-left: rem-calc(16);
    max-width: 100%;
  }

  .textWrapper {
    .title {
      font-weight: 700;
      line-height: rem-calc(24);
    }
    .subtitle {
      font-size: rem-calc(14);
      font-weight: 400;
      line-height: rem-calc(24);
    }
  }

  .step {
    @include flex($align: center, $justify: center);

    min-width: rem-calc(70);
    height: rem-calc(70);

    .stepNumber {
      font-size: rem-calc(36);
    }
  }

  &.apply {
    background: $orange-300;
    margin-bottom: rem-calc(40);

    @include media(0, 'md') {
      margin-bottom: rem-calc(40);
    }

    .step {
      background: $orange-200;
      box-shadow: rem-calc(1 1 27) rgba(63, 62, 74, 0.1);
      border-radius: rem-calc(16);
    }
  }

  &.talk {
    background: $yellow-300;
    margin-bottom: rem-calc(40);
    margin-left: rem-calc(250);

    @include media(0, 'md') {
      margin: 0;
      margin-bottom: rem-calc(40);
    }

    @include media('md', 'lg') {
      margin-left: rem-calc(100);
    }

    .step {
      background: $yellow-200;
      box-shadow: rem-calc(1 1 27) rgba(63, 62, 74, 0.1);
      border-radius: rem-calc(16);
    }
  }

  &.internship {
    background: $blue-100;

    @include media('md') {
      align-self: flex-end;
    }

    .step {
      background: $blue-200;
      box-shadow: 1px 1px 27px rgba(63, 62, 74, 0.1);
      border-radius: rem-calc(16.8);
    }
  }
}
