$mine-shaft: #333;

.containerWrapper {
  border-bottom-width: 1px;
  border-color: $mine-shaft;
  background-color: $mine-shaft;
  color: #fff;
}

.containerText {
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.875rem;
}

.containerLink {
  transition-duration: 200ms;
  transition-property: background-color, border-color, color, fill, stroke;
  text-decoration: underline;

  &:hover {
    color: #79ffe1;
  }
}
