// Fonts
@import './settings/fonts';
@import './settings/variables';
@import './utils/rem-calc';
@import './mixins/breakpoints';

img,
video {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
}
