@import 'styles/mixins/flex';

.root {
  &.container {
    padding-top: rem-calc(58);

    @include media(0, 'sm') {
      padding-top: rem-calc(25);
    }

    @include media('xl') {
      padding-bottom: 15rem;
    }

    &::before {
      content: '';
      position: absolute;
      margin-top: -($navTopBarHeight);
      top: 0;
      right: 0;
      height: 50rem;
      width: 100%;
      background-color: $grey-100;
      z-index: -1;

      @include media('md', 'lg') {
        height: 45rem;
      }
    }

    .textWrapper {
      @include media('lg') {
        margin-top: 2.5rem;
        margin-left: rem-calc(60);
      }

      .introText {
        padding-bottom: rem-calc(24);
      }

      .descriptionText {
        @include media(0, 'sm') {
          br {
            display: none;
          }
        }
      }
    }

    .imageWrapper {
      height: rem-calc(650);
      margin-top: rem-calc(150);
      white-space: nowrap;

      @include media(0, 'sm') {
        margin-top: rem-calc(50);
        height: unset;
      }

      .innerImageWrapper {
        width: 100%;
        position: absolute;
        overflow-x: auto;

        @include media(0, 'sm') {
          @include flex(column);

          position: relative;
          overflow: visible;
        }
      }
    }
  }
}
