@import 'styles/mixins/breakpoints';
@import 'styles/utils/rem-calc';

.root {
  @include media('md') {
    &::before {
      content: '';
      position: absolute;
      margin-top: -($navTopBarHeight);
      top: 0;
      right: 0;
      max-height: rem-calc(730);
      height: 100%;
      width: 65%;
      background-color: $grey-100;
      z-index: -1;
    }
  }

  .container {
    display: flex;
    justify-content: space-between;

    @include media(0, 'md') {
      flex-direction: column;
    }

    .intro {
      max-width: 50%;

      @include media(0, 'md') {
        max-width: 100%;
      }

      .button {
        margin-top: rem-calc(96);
      }
    }

    .imageWrapper {
      max-width: 40%;
      min-width: rem-calc(335);
      width: 100%;
      margin-top: 3rem;

      @include media('sm', 'md') {
        display: none;
      }

      @include media(0, 'sm') {
        margin-top: 0;
      }

      @include media(0, 350px) {
        min-width: rem-calc(300);
      }
    }
  }
}
