.container {
  @include media(0, 'md') {
    margin-top: rem-calc(-110);
  }

  @include media('md', 'lg') {
    margin-top: rem-calc(-110);
  }

  .scrollBtnWrapper {
    padding-left: rem-calc(24);
    margin-top: rem-calc(16);
    margin-bottom: rem-calc(40);

    @include media('lg') {
      margin-top: rem-calc(48);
      padding-left: rem-calc(0);
    }

    .scrollBtn {
      box-shadow: $box-shadow__button;
      border-radius: 50%;
      width: rem-calc(60);
      height: rem-calc(60);
      margin-right: rem-calc(20);

      .icon {
        width: 2rem;
        height: 2rem;

        path {
          fill: $primary;
        }
      }
    }
  }

  .quotesWrapper {
    white-space: nowrap;
    height: rem-calc(450);

    @include media('sm') {
      height: rem-calc(350);
    }

    @include media('md') {
      height: rem-calc(430);
    }

    @include media('xl') {
      height: rem-calc(400);
    }

    .innerQuotesWrapper {
      position: absolute;
      overflow-x: scroll;
      scroll-behavior: smooth;
      padding: rem-calc(40 450 70 24);
      -ms-overflow-style: none;
      scrollbar-width: none;
      scroll-snap-type: inline mandatory;

      &::-webkit-scrollbar {
        display: none;
      }

      @include media('md') {
        padding: rem-calc(40 736 100 24);
      }

      @include media('lg') {
        padding: rem-calc(40 804 100 50);
      }
    }
  }
}
