.container {
  position: relative;
  background-color: $grey-100;

  @include media('md') {
    background-color: $white;
  }

  @include media('lg') {
    margin-bottom: rem-calc(300);
  }

  .backgroundWrapper {
    position: absolute;
    bottom: rem-calc(-45);
    right: 0;
    height: rem-calc(800);
    width: 65%;
    background-color: $grey-100;

    @include media('lg') {
      width: 50%;
      top: rem-calc(30);
      bottom: auto;
    }
  }

  .root {
    padding: rem-calc(0 20 45 20);

    @include media('md') {
      padding: 0;
    }

    @include media('lg') {
      padding: rem-calc(105 0 0 120);
      margin-top: rem-calc(96);
    }

    .textWrapper {
      padding: rem-calc(51 0 77 0);

      @include media('md') {
        padding: rem-calc(51 0 158 32);
      }

      @include media('lg') {
        padding: rem-calc(100 0 0 0);
      }

      .sectionTitle {
        font-weight: bold;
        color: $muted;
      }

      .title {
        margin-bottom: rem-calc(32);
        max-width: 100%;

        @include media('lg') {
          max-width: rem-calc(263);
          margin-bottom: rem-calc(42);
        }
      }
    }

    .bigCard {
      max-width: rem-calc(800);

      @include media('md') {
        padding: rem-calc(0 32);
      }

      @include media('lg') {
        padding: rem-calc(0 40 0 52);
        max-width: unset;
      }

      @include media('1280px') {
        padding-right: rem-calc(120);
      }

      @include media('1440px') {
        padding-left: rem-calc(90);
      }
    }

    .bottomCards {
      width: 100%;
      @include media('lg') {
        padding-right: rem-calc(20);
      }

      @include media('1280px') {
        padding-left: rem-calc(152);
      }

      @include media('1440px') {
        padding-left: rem-calc(192);
        width: initial;
      }

      .card {
        width: 100%;
        margin-top: rem-calc(18);

        @include media('652px') {
          padding: rem-calc(0 10);
          width: 50%;
          max-width: rem-calc(360);
        }

        @include media('md') {
          padding-right: rem-calc(32);
          margin-top: rem-calc(40);
        }

        @include media('lg') {
          max-width: none;
          padding: rem-calc(0 20);
        }
      }
    }
  }
}
