@import 'styles/settings/variables';
@import 'styles/utils/rem-calc';
@import 'styles/mixins/breakpoints';

.container {
  background-color: $grey-100;
  padding: rem-calc(169);
  padding-top: calc(#{$navTopBarHeight} + 169px);
  margin-top: -($navTopBarHeight);

  @include media(0, 'sm') {
    padding: rem-calc(32 20 90 20);
    margin-bottom: rem-calc(91);
  }

  @include media('md', 'lg') {
    padding: rem-calc(74 20 156 20);
    margin-bottom: rem-calc(145);
  }
}
