@import 'components/Navbar/navbar.module.scss';

.container {
  background-color: $grey-100;
  padding: rem-calc(169);
  padding-top: calc(#{$navBarHeight} + 169px);
  margin-top: -($navBarHeight);

  @include media(0, 'sm') {
    padding: rem-calc(32 20 90 20);
    margin-bottom: rem-calc(91);
  }

  @include media('md', 'lg') {
    padding: rem-calc(74 20 156 20);
    margin-bottom: rem-calc(145);
  }
}
